		<fieldset>
			<legend>System</legend>
			<textarea id="system" readonly rows="9"></textarea>
		</fieldset>

		<fieldset>
			<legend>Battery</legend>
			<textarea id="battery" readonly rows="5"></textarea>
		</fieldset>

		<fieldset>
			<legend>Load</legend>
			<textarea id="load" readonly rows="4"></textarea>
		</fieldset>

		<fieldset>
			<legend>Solar</legend>
			<textarea id="solar" readonly rows="2"></textarea>
		</fieldset>

		<fieldset>
			<legend>Daily</legend>
			<textarea id="daily" readonly rows="10"></textarea>
		</fieldset>

		<fieldset>
			<legend>Historical</legend>
			<textarea id="historical" readonly rows="7"></textarea>
		</fieldset>
