		<fieldset>
			<legend>System</legend>
			<textarea id="system" readonly rows="9"></textarea>
		</fieldset>

		<fieldset>
			<legend>Battery</legend>
			<textarea id="battery" readonly rows="5"></textarea>
		</fieldset>

		<fieldset>
			<legend>Load</legend>
			<textarea id="load" readonly rows="4"></textarea>
		</fieldset>

		<fieldset>
			<legend>Solar</legend>
			<textarea id="solar" readonly rows="2"></textarea>
		</fieldset>
