{{- if not isRoot }}
	<img class="icon"
		src="/model/{{model}}/images/trash-can.svg"
		hx-delete="/destroy?ChildId={{id}}"
		hx-confirm="Are you sure you wish to delete device {{name}}?">
	</img>
{{- end }}
