<div hx-target="this"
	hx-swap="outerHTML">
{{ template "device-status-tabs.tmpl" . }}
	<div class="bg-gray text-black m-1 p-4 rounded-3xl max-w-lg">
		<h3>Devices</h3>
		{{ range $id, $device := .devices }}
			<h4>{{$id}}</h4>
			<ul>
				<li>Name: {{$device.Name}}</li>
				<li>Model: {{$device.Model}}</li>
			</ul>
		{{ end }}
	</div>
</div>
