<div class="flex flex-row mb-5 items-end">
{{ range $i, $tab := .tabs }}
	{{ $label := index $.tabLabels $i }}
	{{ if eq $tab $.activeTab }}
		<div class="panel flex flex-row items-end justify-end h-10
			bg-gold text-black border-solid border-2 rounded-xl">
			<span class="ml-10 mr-2.5 font-bold">{{$label}}</span>
		</div>
	{{ else }}
		<div class="panel flex flex-row items-end justify-end h-6 cursor-pointer 
			bg-text text-black border-solid border-2 rounded-xl"
			hx-get="/device/{{id}}/show-status-tab?tab={{$tab}}">
			<span class="ml-10 mr-2.5 font-bold text-sm">{{$label}}</span>
		</div>
	{{ end }}
{{ end }}
</div>
