<p>Use an <a target="_blank" href="https://docs.arduino.cc/hardware/nano-rp2040-connect/">Arduino Nano rp2040 Connect</a> microcontroller to build a {{model}} device.</p>

<center>
	<a target="_blank" href="/device/{{id}}/images/nano-rp2040-{{model}}.png">
		<img src="/device/{{id}}/images/nano-rp2040-{{model}}.png" width="100%" onerror="this.style.display='none';">
	</a>
</center>

<h4>Parts List</h4>

{{template "instructions-nano-rp2040-parts.tmpl" .}}

<h4>Step 1</h4>

{{template "instructions-nano-rp2040-step1.tmpl" .}}

<h4>Step 2</h4>

<p>Click the Download button to download the device firmware UF2 image file.  The file name is:</p>

<pre>
<code>
	{{model}}-{{id}}-installer.uf2
</code>
</pre>

<h4>Step 3 (Optional)</h4>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{model}}-{{id}}-installer.uf2
</code>
</pre>

<h4>Step 4</h4>

<p>Plug the Arduino into a computer USB port to mount the Arduino as a USB drive.  The USB drive is named "RPI-RP2".</p>

<div class="note">
	<span class="note-icon">📝</span>
	Sometimes the Arduino is not detected as a USB drive even when it is connected to your computer. This can be solved through the following steps:

	<p>1. Connect the Arduino to your computer via USB cable.</p>

	<p>2. Place a jumper wire between the REC and GND pins on the board, then press the reset button.</p>

	<p>3. This will mount the Arduino as a USB drive.  You can now remove the jumper wire.</p>	
</div>

<h4>Step 5</h4>

<p>Copy the UF2 firmware image to the "RPI-RP2" drive.  The firmware is installed on the device and the device restarts.</p>

<center>
	<img src="/device/{{id}}/images/rpi-rp2-install.png" width="100%">
</center>

<div class="note">
	<span class="note-icon">📝</span>
	The UF2 firmware image file has embedded secrets so it's a good idea to delete the file after device install.
</div>

<p>That's it!</p>

<p>The device will automatically connect to this hub.  To troubleshoot connectivity issues, use minicom to view device log:</p>

<pre>
<code>
	$ minicom -D /dev/ttyACM0 -b 115200
</code>
</pre>
