<div class="flex flex-row justify-center mb-8"
	hx-get="/device/{{id}}/instructions?view=expanded"
	hx-target="this"
	hx-swap="outerHTML"
	hx-vals='js:{target: document.getElementById(`download-target`).value}'>
	<div class="flex flex-row items-center cursor-pointer">
		<h3>Instructions</h3>
		<img class="icon" src="/model/{{model}}/images/expand.svg"></img>
	</div>
</div>
