<div class="flex flex-col"
	hx-target="this"
	hx-swap="outerHTML"
	hx-vals='js:{target: document.getElementById(`download-target`).value}'>
	<div class="flex flex-row justify-center mb-8">
		<div class="flex flex-row items-center cursor-pointer"
			hx-get="/device/{{id}}/instructions?view=collasped">
			<h3>Instructions</h3>
			<img class="icon" src="/model/{{model}}/images/collapse.svg"></img>
		</div>
	</div>
	<div class="text_sm"
		hx-get="/device/{{id}}/instructions-target"
		hx-target="this"
		hx-trigger="load, change from:#download-target"
		hx-swap="innerHTML">
	</div>
</div>
