<p>Use a <a target="_blank" href="https://www.raspberrypi.com/">Raspberry Pi</a> SBC (Single Board Computer) to build a {{model}} device.</p>

<center>
	<a target="_blank" href="/device/{{id}}/images/rpi-{{model}}.png">
		<img src="/device/{{id}}/images/rpi-{{model}}.png" width="100%">
	</a>
</center>

<h4>Parts List</h4>

{{template "instructions-rpi-parts.tmpl" .}}

<h4>Step 1</h4>

<p>Select "Raspberry Pi" target.</p>

{{- if wantsHttpPort }}
<p>The {{model}} device runs as a local web server.  Specify a port to listen on.  The device's address is http://addr:port, where addr is the local IP (or hostname).</p>
{{- else }}
<p>(Optional) The {{model}} device can run as a local web server.  To enable, specify a port to listen on.  The device's address is http://addr:port, where addr is the local IP (or hostname).  This is useful, for example, when the hub is not accessible, and you want to check in on the device.</p>
{{- end }}

{{template "instructions-rpi-step1.tmpl" .}}

<h4>Step 2</h4>

<p>Click the Download button to download the installer file.  The installer file name is:</p>

<pre>
<code>
	{{model}}-{{id}}-installer
</code>
</pre>

<h4>Step 3 (Optional)</h4>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{model}}-{{id}}-installer
</code>
</pre>

<h4>Step 4</h4>

<p>Copy the installer file to the Raspberry Pi system and run:</p>

<pre>
<code>
	$ chmod +x {{model}}-{{id}}-installer
	$ sudo ./{{model}}-{{id}}-installer

	Intalling {{model}}-{{id}}...
	Intalling logging for {{model}}-{{id}}...
	Intalling systemd service for {{model}}-{{id}}...
	Success!
</code>
</pre>

<p>The installer will install the device as a service named "{{model}}-{{id}}".  To uninstall:</p>

<pre>
<code>
	$ sudo ./{{model}}-{{id}}-installer -u
</code>
</pre>

<p>To view device logs:</p>

<pre>
<code>
	$ sudo tail -f /var/log/{{model}}-{{id}}.log
</code>
</p>
