<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">

		<title>Sessions</title>

		<link rel="stylesheet" type="text/css" href="/css/device.css.gz">

		<meta http-equiv="refresh" content="2">
	</head>

	<body class="bg-black text m-4">
		<h2>Active Sessions</h2>
		{{range $id, $session := .}}
			<div class="bg-sunflower text-black m-1 p-2 rounded-3xl max-w-lg">
				<h3>Session ID: {{$id}}</h3>
				<p>Last Update: {{$session.Age}}</p>
				<h4>Last Views:</h4>
				<ul>
				{{range $deviceId, $view := $session.LastViews}}
					<li>{{$deviceId}}: {{$view.View}}, {{$view.Level}}</li>
				{{end}}
				</ul>
			</div>
		{{else}}
			<p>No active sessions</p>
		{{end}}
	</body>
</html>
