<h4>Supported Targets</h4>

<div class="flex flex-col">

	<div class="flex flex-row">
{{ if contains .Targets "rpi" }}
		<img src="/images/checkbox-on.svg">
		<span class="h-6">Raspberry Pi (not Pico)</span>
{{ end }}
	</div>

	<div class="flex flex-row">
{{ if contains .Targets "x86-64" }}
		<img src="/images/checkbox-on.svg">
		<span class="h-6">Linux x86-64</span>
{{ end }}
	</div>

	<div class="flex flex-row">
{{ if contains .Targets "nano-rp2040" }}
		<img src="/images/checkbox-on.svg">
		<span class="h-6">Arduino Nano Connect rp2040</span>
{{ end }}
	</div>

	<div class="flex flex-row">
{{ if contains .Targets "wioterminal" }}
		<img src="/images/checkbox-on.svg">
		<span class="h-6">Seeed Wio Terminal</span>
{{ end }}
	</div>

	<div class="flex flex-row">
{{ if contains .Targets "pyportal" }}
		<img src="/images/checkbox-on.svg">
		<span class="h-6">Adafruit PyPortal</span>
{{ end }}
	</div>

</div>
