<div class="flex flex-col mr-10 items-end text-sm">
	<div class="panel flex flex-row mt-8 w-36 h-10 text">
		<span class="font-bold">SYSTEM STATUS</span>
	</div>
{{ range $i, $tab := .tabs }}
	{{ $label := index $.tabLabels $i }}
	{{ if eq $tab $.activeTab }}
		<div class="panel flex flex-row items-end justify-end w-36 h-10
			bg-gold text-black border-solid border-2 rounded-xl">
			<span class="mr-2.5 font-bold">{{$label}}</span>
		</div>
	{{ else }}
		<div class="panel flex flex-row items-end justify-end w-32 h-6 cursor-pointer
			bg-text text-black border-solid border-2 rounded-xl"
			hx-get="/device/{{id}}/show-status-tab?tab={{$tab}}">
			<span class="mr-2.5">{{$label}}</span>
		</div>
	{{ end }}
{{ end }}
</div>
