<div class="flex flex-col">

	<div class="flex flex-row justify-center">
		<h3>Settings</h3>
	</div>

	<form action="/device/{{id}}/download-image" method="GET">
		<div class="flex flex-col">
			<div class="flex flex-row mb-5">
				<label>
					Target:
					<select name="target" id="download-target">

						<!-- Populate target drop-down with
							supported device targets.
							Select the target if specified
							in DeployParams.
						-->
{{- range $key, $target := targets }}
	{{- if eq $key target }}
						<option value="{{ $key }}" selected>{{ $target.FullName }}</option>
	{{- else }}
						<option value="{{ $key }}">{{ $target.FullName }}</option>
	{{- end }}
{{- end }}

					</select>
				</label>
			</div>

			<!-- Target-specific elements embedded here.  Will be
				updated if target drop-down selection changes.
				-->

			<div class="flex flex-col"
				hx-get="/device/{{id}}/download-target"
				hx-trigger="load, change from:#download-target"
				hx-target="this"
				hx-swap="innerHTML"
				hx-vals='js:{target: document.getElementById(`download-target`).value}'>
			</div>

			<div class="flex flex-col mt-8">
				<div class="flex flex-row justify-end">
					<button type="submit">Download</button>
				</div>
			</div>

		</div>
	</form>
</div>

<!-- Target-specific instructions embedded here.  Will be
	updated if target drop-down selection changes.
	-->

{{ template "instructions-collasped.tmpl" . }}
