<div class="flex flex-col">

	<div class="flex flex-row justify-center">
		<h3>Info</h3>
	</div>

	<style>
		.info-grid {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 20px;
			row-gap: 10px;
			align-items: center;
		}

		.info-grid .row-header {
			font-weight: bold;
			text-align: right;
		}

		.hr-row {
			grid-column: span 2;
		}

		hr {
			width: 100%;
		}
	</style>

	<div class="info-grid">
		<div class="grid-item row-header">
			<span>ID</span>
		</div>
		<div class="grid-item">
			<span>{{id}}</span>
		</div>

		<div class="grid-item row-header">
			<span>Model</span>
		</div>
		<div class="grid-item">
			<span>{{model}}</span>
		</div>

		<div class="grid-item row-header">
			<span>Name</span>
		</div>
		<div class="grid-item">
			<span>{{name}}</span>
		</div>

		<div class="hr-row">
			<hr>
		</div>

		<div class="grid-item row-header">
			<span>Model Package</span>
		</div>
		<div class="grid-item">
			<span>{{package}}</span>
		</div>

		<div class="grid-item row-header">
			<span>Model Repo</span>
		</div>
		<div class="grid-item">
			<a target="_blank" href="{{source}}">{{source}}</a>
		</div>

	</div>

{{- template "info.tmpl" . }}

	<div class="flex flex-row justify-end mt-8">
		<a target="_blank" href="/device/{{id}}/code">
			<button>Show Code</button>
		</a>
		<button hx-get="/device/{{id}}/show-view?view=state">Show State</button>
	</div>

</div>

