<div class="flex flex-row mx-4 my-8"
	hx-target="this"
	hx-swap="outerHTML">
{{ template "device-status-tabs.tmpl" . }}
	<div class="flex flex-col">
		<h2>DEVICES</h2>
		<div class="bg-gray text-black m-1 p-4 rounded-3xl min-w-lg">
			{{ range $id, $device := .devices }}
				<h4>{{$id}}</h4>
				<ul>
					<li>Name: {{$device.Name}}</li>
					<li>Model: {{$device.Model}}</li>
				</ul>
			{{ end }}
		</div>
	</div>
</div>
