<div class="flex flex-col"
	hx-get="/device/{{id}}/status/sessions/refresh"
	hx-trigger="every 1s"
	hx-target="this"
	hx-swap="outerHTML">
	<h2>ACTIVE SESSIONS</h2>
{{ range $i, $status := .sessions }}
	<span class="whitespace-pre font-mono text-xl text-{{$status.Color}}">{{$status.Status}}</span>
{{ end }}
</div>
