<div class="flex flex-col">

	<div class="flex flex-row justify-center">
		<h3>Info</h3>
	</div>

	<style>
		.info-grid {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 20px;
			row-gap: 10px;
			align-items: center;
		}

		.info-grid .row-header {
			font-weight: bold;
			text-align: right;
		}

		.hr-row {
			grid-column: span 2;
		}

		hr {
			width: 100%;
		}
	</style>

	<div class="info-grid">
		<div class="row-header">
			<span>ID</span>
		</div>
		<div class="">
			<span>{{id}}</span>
		</div>

		<div class="row-header">
			<span>Model</span>
		</div>
		<div class="">
			<span>{{model}}</span>
		</div>

		<div class="row-header">
			<span>Name</span>
		</div>
		<div class="flex flex-row" id="{{uniq `edit-name`}}">
			<span class="mr-4">{{name}}</span>
{{ if isLocked }}
			<img src="/images/edit.svg"
				onclick="alert('Sorry, cannot change name: device is locked')">
{{ else }}
			<img class="icon" src="/images/edit.svg"
				hx-get="/device/{{id}}/edit-name"
				hx-target="#{{uniq `edit-name`}}"
				hx-swap="innerHTML">
{{ end }}
		</div>

		<div class="row-header">
			<span>Target</span>
		</div>
		<div class="">
			<span>{{(index targets target).FullName}}</span>
		</div>

		<div class="row-header">
			<span>Web Server Port</span>
		</div>
		<div class="">
{{ if eq port "" }}
			<span class="italic">not running</span>
{{ else }}
			<span>{{port}}</span>
{{ end }}
		</div>

		<div class="row-header">
			<span>Uptime</span>
		</div>
		<div class="">
			<span id="{{uniq `uptime`}}"
				hx-get="/device/{{id}}/get-uptime"
				hx-trigger="load"
				hx-swap="none"></span>
		</div>

		<div class="row-header">
			<span>Model Package</span>
		</div>
		<div class="">
			<span>{{package}}</span>
		</div>

	</div>

	<div class="m-8">
{{- template "info.tmpl" . }}
	</div>

	<div class="flex flex-row justify-end mt-8">
		<a target="_blank" href="/device/{{id}}/code">
			<button>Show Code</button>
		</a>
		<button hx-get="/device/{{id}}/show-view?view=state">Show State</button>
	</div>

</div>

