				<div class="divFlexCol" id="demo-welcome">
					<div class="divFlexRow" id="demo-title">
						<img id="demo-thing" src="images/thing.png"></img>
						<h2>Welcome to the Merliot Hub Demo!</h2>
					</div>
					<p>Poke around, you can't hurt anything.  The demo devices are simulating real hardware devices.</p>
					<p>Find the <span class="icon nopointer">&#x1F4E5;</span> icon to see how to setup and download a device.</p>
					<h3>Install Your Own Private Hub</h3>
					<p>Install your hub on <a target="_blank" href="https://app.koyeb.com/">Koyeb</a> using their One-Click install button:</p>
					<center>
						<a target="_blank" href="https://app.koyeb.com/deploy?type=docker&image=merliot/hub&name=hub&instance_type=eco-micro&env[WS_SCHEME]=wss://">
							<img src="https://www.koyeb.com/static/images/deploy/button.svg">
						</a>
					</center>
					<p>Or, see the <a target="_blank" href="https://{{.Module.Path}}">Merliot Hub Install Guide</a> for other install options, including Docker, TailScale or directly from from source code.</p>
					<h3>Want to Create a New Device?</h3>
					<p>Devices are written in <a target="_blank" href="https://go.dev">Go</a> and <a target="_blank" href="https://tinygo.org">TinyGo</a> and HTML/CSS/Javascript.  Each device has Go <code>Setup() and Run()</code> functions, similar to Arduino IDE's <code>setup() and loop()</code> functions.  See the <a target="_blank" href="">New Device Guide</a> for more information.</p>
				</div>
