<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{.Name}}</title>
		<link rel="stylesheet" type="text/css" href="css/common.css">
		{{.LinkModelStyles}}
	</head>
</html>

