		<dialog id="new-dialog">
			<form class="divFlexCol" id="new-dialog-form">
				<input type="hidden" name="id" id="new-id">
				<input type="hidden" name="model" id="new-model">
				<div class="divFlexRow" id="name-div">
					<label for="new-name">Name:</label>
					<input type="text" name="name" placeholder="Device Name" id="new-name">
				</div>
				<span>Model (select one):</span>
				<div class="models" id="new-dialog-models"></div>
				<hr>
				<em class="err-msg" id="create-err"></em>
				<div class="divFlexRow btns">
					<button class="btn" id="new-close">Close</button>
					<button class="btn" id="new-create">Create</button>
				</div>
			</form>
		</dialog>

		<dialog id="delete-dialog">
			<div class="divFlexCol">
				<span id="delete-prompt"></span>
			</div>
			<hr>
			<em class="err-msg" id="delete-err"></em>
			<div class="divFlexRow btns">
				<button class="btn" id="delete-close">Close</button>
				<button class="btn" id="delete-delete">Delete</button>
			</div>
		</dialog>

		<dialog id="about-dialog">
			<div class="divFlexCol">
				<div class="divFlexRow">
					<img src="images/thing.png"></img>
					<div class="divFlexCol" id="about-desc">
						<span id="about-title">Merliot Hub</span>
						<span>Your private, decentralized IoT device hub, written in Go and TinyGo</span>
					</div>
				</div>
				<div class="divFlexCol" id="about-details">
					<a target="_blank" href="https://www.merliot.io">merliot.io</a>
					<p></p>
					<div>
						<a target="_blank" href="https://join.slack.com/t/merliotcommunity/shared_invite/zt-2f5f2t02q-jEmblYUmsQOxczvf6oJl8A">Join Our Slack</a>
						·
						<a target="_blank" href="https://twitter.com/merliotio">Twitter</a>
					</div>
					<div>
						<a target="_blank" href="https://github.com/merliot/hub/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=%F0%9F%90%9B+Bug+Report%3A+">Report Bug</a>
						·
						<a target="_blank" href="https://github.com/merliot/hub/issues/new?assignees=&labels=enhancement&projects=&template=feature_request.md&title=%F0%9F%9A%80+Feature%3A+">Request Feature</a>
					</div>
					<p></p>
					<span>Source code: <a target="_blank" href="https://{{ .Module.Path }}">{{ .Module.Path }}</a></span>
					<span>Build Version: {{ .Version }}</span>
					<p>
						<span class="copyright">&copy Copyright 2024 Merliot</span>
					</p>
				</div>
			</div>
			<hr>
			<div class="divFlexRow btns">
				<button class="btn" id="about-close">Close</button>
			</div>
		</dialog>
