<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">

	</head>

	<body class="online">

		<header>
			<div>
				<img class="device-icon" src="images/icon.png"></img>
				<span class="device-title">{{.Name}}</span>
			</div>
			<span class="device-offline">Offline</span>
{{if .Demo}}
			<span class="demo-mode">Demo</span>
{{end}}
			<div>
{{if .Locked}}
				<span class="icon nono">&#x1F512;</span>
{{end}}
				<div class="divFlexRow" id="new">
					<span class="icon">&plus;</span>
					<span id="new-label">New</span>
				</div>
				<div id="menu-div">
					<span class="icon" id="menu-icon">&vellip;</span>
					<div class="menu" id="menu">
						<div class="menu-item">Download Devices</div>
						<!-- div class="menu-item">Restart Hub</div-->
						<hr>
						<div class="menu-item">About</div>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="divFlexCol">
				<div class="divFlexRow" id="devices-row">
					<div class="divFlexRow" id="devices">
						<span class="icon hidden" id="back-icon">&#x1F868;</span>
						<span id="path">Devices</span>
					</div>
					<span class="icon hidden" id="trash-icon">&#x1F5D1;</span>
					<!--img class="icon hidden" src="images/trash-icon.png" id="trash-icon"-->
				</div>
				<div class="divFlexWrap" id="view"></div>
{{if .Demo}}
				<div class="divFlexCol hidden" id="demo-welcome">
					<div class="divFlexRow" id="demo-title">
						<img id="demo-thing" src="images/thing.png"></img>
						<span class="bold">Welcome to the Merliot Hub Demo!</span>
					</div>
					<p>Poke around, you can't hurt anything.  The demo devices are simulating real hardware devices.  The device data is made up and clicking on the device controls does nothing.</p>
					<p>Find the <span class="icon nopointer">&#x1F4E5;</span> icon to see how to setup and download a device.</p>
					<p class="bold">Want Real Devices?</p>
					<p>Install your own hub and deploy real devices.  See the <a target="_blank" href="https://{{.Module.Path}}">Merliot Hub Install Guide</a> for install options.</p>
					<p class="bold">Want to Create a New Device?</p>
					<p>Devices are written in <a target="_blank" href="https://go.dev">Go</a> and <a target="_blank" href="https://tinygo.org">TinyGo</a> and HTML/CSS/Javascript.  Each device has <code>Setup() and Run()</code> functions, similar to Arduino IDE's <code>setup() and loop()</code> functions.  See the <a target="_blank" href="">New Device Guide</a> for more information.</p>
				</div>
{{end}}

			</div>
		</section>

		<dialog id="new-dialog">
			<form class="divFlexCol" id="new-dialog-form">
				<input type="hidden" name="id" id="new-id">
				<input type="hidden" name="model" id="new-model">
				<div class="divFlexRow" id="name-div">
					<label for="new-name">Name:</label>
					<input type="text" name="name" placeholder="Device Name" id="new-name">
				</div>
				<span>Model (select one):</span>
				<div class="models" id="new-dialog-models"></div>
				<hr>
				<em class="err-msg" id="create-err"></em>
				<div class="divFlexRow btns">
					<button class="btn" id="new-close">Close</button>
					<button class="btn" id="new-create">Create</button>
				</div>
			</form>
		</dialog>

		<dialog id="delete-dialog">
			<div class="divFlexCol">
				<span id="delete-prompt"></span>
			</div>
			<hr>
			<em class="err-msg" id="delete-err"></em>
			<div class="divFlexRow btns">
				<button class="btn" id="delete-close">Close</button>
				<button class="btn" id="delete-delete">Delete</button>
			</div>
		</dialog>

		<dialog id="about-dialog">
			<div class="divFlexCol">
				<div class="divFlexRow">
					<img src="images/thing.png"></img>
					<div class="divFlexCol" id="about-desc">
						<span id="about-title">Merliot Hub</span>
						<span>Your private, decentralized IoT device hub, written in Go and TinyGo</span>
					</div>
				</div>
				<div class="divFlexCol" id="about-details">
					<a target="_blank" href="https://www.merliot.io">merliot.io</a>
					<p></p>
					<div>
						<a target="_blank" href="https://github.com/merliot/hub/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=%F0%9F%90%9B+Bug+Report%3A+">Report Bug</a>
						·
						<a target="_blank" href="https://github.com/merliot/hub/issues/new?assignees=&labels=enhancement&projects=&template=feature_request.md&title=%F0%9F%9A%80+Feature%3A+">Request Feature</a>
						·
						<a target="_blank" href="https://join.slack.com/t/merliotcommunity/shared_invite/zt-2f5f2t02q-jEmblYUmsQOxczvf6oJl8A">Join Our Slack</a>
						·
						<a target="_blank" href="https://twitter.com/merliotio">Twitter</a>
					</div>
					<p></p>
					<span>Source code: <a target="_blank" href="https://{{ .Module.Path }}">{{ .Module.Path }}</a></span>
					<span>Build Version: {{ .Version }}</span>
					<p>
						<span class="copyright">&copy Copyright 2024 Merliot</span>
					</p>
				</div>
			</div>
			<hr>
			<div class="divFlexRow btns">
				<button class="btn" id="about-close">Close</button>
			</div>
		</dialog>

		<script type="module">
			import { run } from "./js/{{.Model}}.js"
			run("[{{.Model}} {{.Name}}]", "{{.WebSocket}}", "{{.ViewMode}}")
		</script>

	</body>
</html>
