<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">

	</head>

	<body class="online">

		<header>
			<div>
				<img class="device-icon" src="images/icon.png"></img>
				<span class="device-title">{{.Name}}</span>
			</div>
			<span class="device-offline">Offline</span>
			<div>
				<div class="divFlexRow" id="new">
					<img class="icon" src="images/new-icon.png">
					<span id="new-label">New</span>
				</div>
			</div>
		</header>

		<section>
			<div class="divFlexCol">
				<div class="divFlexRow" id="devices">
					<img class="icon hidden" src="images/back-icon.png" id="back-icon">
					<span id="path">Devices</span>
				</div>
				<div class="divFlexWrap" id="view">
				</div>
			</div>
		</section>

		<dialog id="new-dialog">
			<div class="divFlexCol">
				<label for="new-id">ID:</label>
				<input type="text" placeholder="Device ID" id="new-id">
				<label for="new-name">Name:</label>
				<input type="text" placeholder="Device Name" id="new-name">
				<span>Model:</span>
				<div class="models" id="new-dialog-models"></div>
				<hr>
				<div class="divFlexRow btns">
					<button class="btn" id="new-close">Close</button>
					<button class="btn" id="new-create">Create</button>
				</div>
			</div>
		</dialog>

		<script type="module">
			import { run } from "./js/{{.Model}}.js"
			run("[{{.Model}} {{.Id}}]", "{{.WebSocket}}", "{{.ViewMode}}")
		</script>

	</body>
</html>
