		<section>
			<div class="divFlexCol">
				<div class="divFlexRow" id="devices-row">
					<div class="divFlexRow" id="devices">
						<span class="icon hidden" id="back-icon">&#x2B05;</span>
						<span id="path">Devices</span>
					</div>
					<span class="icon hidden" id="trash-icon">&#x1F5D1;</span>
				</div>
				<div class="divFlexWrap" id="view">

{{/* Range over children sorted by name */}}

{{- $children := .Children }}
{{- range $id := .ChildrenSorted }} {{- $child := index $children $id }}

	{{/* For each child, generate the tile view */}}

					<div class="model-{{$child.Model}} device-tile-div" id="device-{{$id}}">
						<div class="divFlexCol tile">
							<div class="tile-body">
{{ $child.RenderHTML "index-body-tile.tmpl" }}
							</div>
							<div class="divFlexRow tile-footer">
								<img class="tile-icon" src="images/tile-icon.png">
								<span class="tile-name">{{$child.Name}}</span>
							</div>
						</div>
					</div>
{{- else }}
					<div class="divFlexRow" id="nodef">
						<span>Click</span>
						<div class="divFlexRow new" id="nodef-new">
							<span class="icon nopointer">&plus;</span>
							<span class="new-label">New</span>
						</div>
						<span>to create a device</span>
					</div>
{{- end }}
				</div>

{{if .Demo}}
	{{ template "hub-body-demo.tmpl" . }}
{{end}}

			</div>
		</section>
