<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">

	</head>

	<body class="online">

		<header>
			<div>
				<img class="device-icon" src="images/icon.png"></img>
				<span class="device-title">{{.Name}}</span>
			</div>
			<span class="device-offline">Offline</span>
			<div>
				<div class="divFlexRow" id="new">
					<img class="icon" src="images/new-icon.png">
					<span id="new-label">New</span>
				</div>
				<div id="menu-div">
					<img class="icon" id="menu-icon" src="images/menu-icon.png"></img>
					<div class="menu" id="menu">
						<div class="menu-item">Download</div>
						<hr>
						<div class="menu-item">About</div>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="divFlexCol">
				<div class="divFlexRow" id="devices-row">
					<div class="divFlexRow" id="devices">
						<img class="icon hidden" src="images/back-icon.png" id="back-icon">
						<span id="path">Devices</span>
					</div>
					<img class="icon hidden" src="images/trash-icon.png" id="trash-icon">
				</div>
				<div class="divFlexWrap" id="view">
				</div>
			</div>
		</section>

		<dialog id="new-dialog">
			<form class="divFlexCol" id="new-dialog-form">
				<input type="hidden" name="id" id="new-id">
				<input type="hidden" name="model" id="new-model">
				<div class="divFlexRow" id="name-div">
					<label for="new-name">Name:</label>
					<input type="text" name="name" placeholder="Device Name" id="new-name">
				</div>
				<span>Model (select one):</span>
				<div class="models" id="new-dialog-models"></div>
				<hr>
				<em id="create-err"></em>
				<div class="divFlexRow btns">
					<button class="btn" id="new-close">Close</button>
					<button class="btn" id="new-create">Create</button>
				</div>
			</form>
		</dialog>

		<dialog id="delete-dialog">
			<div class="divFlexCol">
				<span id="delete-prompt"></span>
				<em id="delete-err"></em>
			</div>
			<hr>
			<div class="divFlexRow btns">
				<button class="btn" id="delete-close">Close</button>
				<button class="btn" id="delete-delete">Delete</button>
			</div>
		</dialog>

		<dialog id="about-dialog">
			<div class="divFlexCol">
				<a target="_blank" href="https://{{ .Module.Path }}">{{ .Module.Path }}</a>
				<p>
					<span class="copyright">&copy Copyright 2024 Merliot</span>
				</p>
			</div>
			<hr>
			<div class="divFlexRow btns">
				<button class="btn" id="about-close">Close</button>
			</div>
		</dialog>

		<script type="module">
			import { run } from "./js/{{.Model}}.js"
			run("[{{.Model}} {{.Name}}]", "{{.WebSocket}}", "{{.ViewMode}}")
		</script>

	</body>
</html>
