<p>Use a <a target="_blank" href="https://wiki.seeedstudio.com/Wio-Terminal-Getting-Started/">Seeed Studio Wio Terminal</a> microcontroller to build a {{model}} device.</p>

<center>
	<a target="_blank" href="/device/{{id}}/images/wioterminal-{{model}}.png">
		<img src="/device/{{id}}/images/wioterminal-{{model}}.png" width="100%">
	</a>
</center>

<h4>Parts List</h4>

{{template "instructions-wioterminal-parts.tmpl" .}}


<h4>Step 1</h4>

{{template "instructions-wioterminal-step1.tmpl" .}}

<h4>Step 2</h4>

<p>Click the Download button to download the device firmware UF2 image file.  The file name is:</p>

<pre>
<code>
	{{model}}-{{id}}-installer.uf2
</code>
</pre>

<h4>Step 3 (Optional)</h4>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{model}}-{{id}}-installer.uf2
</code>
</pre>

<h4>Step 4</h4>

<p>Plug the Wio Terminal into a computer USB port to mount the Wio Terminal as a USB drive.  The USB drive is named "Arduino".</p>

<div class="note">
	<span class="note-icon">📝</span>
	Make sure the Wio Terminal has entered the Bootloader mode so it will mount as a USB drive.  See this <a target="_blank" href="https://wiki.seeedstudio.com/Wio-Terminal-Getting-Started/#enter-bootloader">guide</a> for more information.
</div>

<h4>Step 5</h4>

<p>Copy the UF2 firmware image to the "Arduino" USB drive.  The firmware is installed on the device and the device restarts automatically.</p>

<center>
	<img src="/device/{{id}}/images/arduino-install.png" width="100%">
</center>

<div class="note">
	<span class="note-icon">📝</span>
	The UF2 firmware image file has embedded secrets so it's a good idea to delete the file after device install.
</div>

<p>That's it!</p>

<p>The device will connect to this hub.  To troubleshoot connectivity issues, use minicom to view device log:</p>

<pre>
<code>
	$ minicom -D /dev/ttyACM0 -b 115200
</code>
</pre>
