<h3>Instructions</h3>

<p>x86-64 Mode runs a {{model}} device on a linux x86-64 PC, laptop, etc.</p>

<p>x86-64 Mode runs as a Linux (amd64) application.</p>

<center>
	<a target="_blank" href="/device/{{id}}/images/x86-64-{{model}}.png">
		<img src="/device/{{id}}/images/x86-64-{{model}}.png" width="100%">
	</a>
</center>

<h4>Parts List</h4>

{{template "instructions-x86-64-parts.tmpl" .}}

<h4>Step 1</h4>

<p>Select "Linux x86-64" target.</p>

{{- if wantsHttpPort }}
<p>The {{model}} device runs as a local web server.  Specify a port to listen on.  The device's address is http://addr:port, where addr is the local IP (or hostname).</p>
{{- else }}
<p>(Optional) The {{model}} device can run as a local web server.  To enable, specify a port to listen on.  The device's address is http://addr:port, where addr is the local IP (or hostname).  This is useful, for example, when the hub is not accessible, and you want to check in on the device.</p>
{{- end }}

{{template "instructions-x86-64-step1.tmpl" .}}

<h4>Step 2</h4>

<p>Click the Download button to download the x86-64 installer file.  The installer file name is:</p>

<pre>
<code>
	{{id}}-installer
</code>
</pre>

<h4>Step 3 (Optional)</h4>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{id}}-installer
</code>
</pre>

<h4>Step 4</h4>

<p>Copy the installer file to a Linux system and run:</p>

<pre>
<code>
	$ chmod +x {{id}}-installer
	$ sudo ./{{id}}-installer

	Intalling {{model}}...
	Intalling logging for {{model}}...
	Intalling systemd service for {{model}}...
	Success!
</code>
</pre>

<p>The installer will install the device as a service named "{{model}}".  To uninstall:</p>

<pre>
<code>
	$ sudo ./{{id}}-installer -u
</code>
</pre>

<p>To view device logs:</p>

<pre>
<code>
	$ sudo tail -f /var/log/{{model}}.log
</code>
</p>
