<div class="modal">

	<div class="modal-content">

		<h3>SAVE DEVICES</h3>

		<p>Devices where loaded from the DEVICES environment variable
		and changes to the devices must be saved back to DEVICES.  Copy
		the JSON devices content below to your DEVICES environment
		variable.</p>

		<p>If the hub is running on the cloud, update DEVICES
		environment variable on the hub service.  This way, saved
		device changes are loaded on next reboot of the hub
		service.</p>

		<pre id="devices" class="overflow-y-auto text-green" style="max-height: calc(60vh - 100px);">
			{{- devicesJSON -}}
		</pre>

		<form action="/devices" method="GET">
			<div class="flex flex-row justify-end mt-8">
				<button class="btn" hx-put="/nop" hx-target=".modal" hx-swap="delete">Close</button>
				<button class="btn" type="button" onclick="copy2clipboard()">Copy to Clipboard</button>
				<button class="btn" type="submit">Save to File</button>
			</div>
		</form>
	</div>

        <script>
		function copy2clipboard() {
			if (navigator.clipboard) {
				const content = document.getElementById('devices').innerText;
				navigator.clipboard.writeText(content);
			} else {
				alert("Browser blocking clipboard API access...insucure http:// connection?")
			}
		}
        </script>

</div>
