{{range $key, $value := .Models}}
	<div class="divFlexRow model" id={{$key}}>
		<div class="divFlexCol model-label">
			<div class="model-name">{{$key}}</div>
			<img class="device-icon" src="data:image/png;base64,{{.Icon}}">
		</div>
		<div class="divFlexCol model-desc">
			<div class="model-desc-html">
				{{.DescHtml}}
			</div>
			<div class="model-supported-targets">
				Targets: {{.SupportedTargets}}
			</div>
		</div>
	</div>
{{end}}
