<div class="offline m-4" id="session"
	hx-headers='{"session-id": "{{.sessionId}}"}'
	hx-put="/keep-alive"
	hx-trigger="every 30s"
	hx-swap="none"
	hx-ext="ws"
	ws-connect="/wsx?session-id={{.sessionId}}">
{{ renderView .sessionId "/device" "detail" 0 }}
</div>
