<div class="m-8 max-w-lg">
	<p class="italic">"working demo especially good trick: force big brain make something to actually work to talk about and code to look at that do thing, will help big brain see reality on ground more quickly"</p>
	<a class="no-underline" target="_blank" href="https://grugbrain.dev/"><p class="text-right text">-- The Grug Brained Developer</p></a>
</div>
{{ template "session.tmpl" . }}
