<!-- Make footer sticky to bottom of viewport and let everything else scroll under -->
<footer class="flex flex-row my-4 items-center justify-evenly w-full fixed bottom-0 bg-transparent">
	<span class="text-sm">© 2024 Merliot. All rights reserved.</span>
</footer>
