<header class="flex flex-col mx-4 my-8">
	<div class="flex flex-row justify-between">
		<div class="flex flex-col">
			<span class="mr-8 text-4xl" >MERLIOT</span>
			<span class="text">PRIVATE DEVICE HUB</span>
		</div>
		<div class="flex flex-wrap">
{{ $first := true }}
{{ range .tabs }}
	{{ if $first }}
			<div class="panel flex flex-row items-end justify-end w-28 h-10 bg-gold text-black
				border-solid border-2 rounded-2xl">
				<span class="mr-2.5 font-bold">{{.Name}}</span>
			</div>
		{{ $first = false }}
	{{ else }}
			<a class="no-underline" href={{.Href}}>
				<div class="panel flex flex-row items-end justify-end w-20 h-6 bg-text text-black
					border-solid border-2 rounded-xl">
					<span class="mr-2.5 font-bold text-sm">{{.Name}}</span>
				</div>
			</a>
	{{ end }}
{{ end }}
		</div>
	</div>
</header>
