<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">

		<title>Merliot</title>

		<link rel="stylesheet" type="text/css" href="/css/device.css.gz">
		<script src="/js/htmx.min.js.gz"></script>
	</head >

	<body class="bg-black text m-4">
{{ template "site-header.tmpl" . }}
{{ $tmpl := joinStrings "site-" .section ".tmpl" }}
{{ renderTemplate $tmpl . }}
{{ template "site-footer.tmpl" . }}
	</body>
</html>
