#banner {
	resize: none;
	overflow: hidden;
	font-family: monospace;
	white-space: nowrap;
	border: 1px solid black;
	background-color: black;
	color: white;
}

#input {
	align-items: flex-start;
}

#save {
	margin-top: 10px;
}
