<div class="flex flex-col">
	<div class="flex flex-row mb-5">
		<label>
			Distance Radius:
			<input class="w-16" type="text" name="Radius" value="{{state.Radius}}">
			(m)
		</label>
	</div>
	<div class="flex flex-row mb-5">
		<label>
			Poll Period:
			<input class="w-16" type="text" name="PollPeriod" value="{{state.PollPeriod}}">
			(s)
		</label>
	</div>
</div>
