<div class="flex flex-col items-center" id="{{uniq `qr-code`}}">
	<div class="flex flex-row items-center" id="{{uniq `edit-content`}}">
		<span class="m-4">{{state.Content}}</span>
{{ if isLocked }}
		<img src="/images/edit.svg"
			onclick="alert('Sorry, cannot change content: device is locked')">
{{ else }}
		<img class="icon" src="/images/edit.svg"
			hx-get="/device/{{id}}/edit-content?id={{id}}"
			hx-target="#{{uniq `edit-content`}}"
			hx-swap="innerHTML">
{{ end }}
	</div>
	<div class="flex flex-row justify-center">
		<div class="m-8">
			<img src="{{png state.Content -5}}">
		</div>
	</div>
</div>
