<p class="w-80">QR Code device generates and displays a custom QR code.  The QR code can be
update dynamically when the device is connected.  The latest QR code is stored
on the device, so even if not connected, the latest QR code is displayed.</p>

<img class="w-80" src="/model/{{.Model}}/images/wioterminal-qrcode.svg">
