<div class="flex flex-col">
	<div class="flex flex-row mb-8">
		<label>
			Content:
			<input type="text" name="Content" value="{{state.Content}}"
				placeholder="Enter QR code content" required
				hx-post="/device/{{id}}/generate"
				hx-target="#{{uniq `qr-code`}}"
				hx-trigger="load, change"
				hx-swap="innerHTML">
		</label>
	</div>
	<div class="flex flex-row justify-center">
		<div class="w-52 h-52" id="{{uniq `qr-code`}}">
			<!-- contents to be replaced -->
		</div>
	</div>
</div>
