<p>Enter QR code content.  Examples:</p>

<p>URL</p>
<pre class="cmd-line whitespace-pre-wrap">
https://www.example.com/shop
</pre>

<p>Email</p>
<pre class="cmd-line whitespace-pre-wrap">
mailto:support@example.com?subject=Help%20Request&body=Hi%20team,%20I%20need...
</pre>

<p>SMS</p>
<pre class="cmd-line whitespace-pre-wrap">
smsto:+1234567890:Hello, I am interested in learning more about your services.
</pre>
