<div class="flex flex-row items-center" id="{{uniq `charge`}}">
	<img class="h-8" src="/device/{{id}}/images/solar-panel.svg">
	<img class="h-8" src="/device/{{id}}/images/leader.svg">
	<span>{{state.Array.Amps}}A</span>
	<img class="h-8" src="/device/{{id}}/images/arrow.svg">
	<img class="h-8" src="/device/{{id}}/images/battery.svg">
	<img class="h-8" src="/device/{{id}}/images/leader.svg">
	<span>{{state.Load.Amps}}A</span>
	<img class="h-8" src="/device/{{id}}/images/arrow.svg">
	<img class="h-8" src="/device/{{id}}/images/lightbulb.svg">
</div>
