<p>Prostar device monitors a <a target="_blank" href="https://www.morningstarcorp.com/products/prostar/">Morningstar ProStar</a> solar charge controller.</p>

<p>Supported Models: PS-15, PS-15M, PS-30, PS-30M</p>

<img class="w-80" src="/model/{{model}}/images/rpi-prostar.png">
