<p>Assemble the prostar device using parts list above.  Connect the ProStar solar charge controller to the MSC module using the rj11 cable.  Connect the Raspberry Pi to the MSC module using the RS232-to-USB cable.</p>
