<p>Assemble the prostar device using parts list above.  Connect the ProStar solar charge controller to the MSC module using the rj11 cable.  Connect the MSC module to the TTL-to-RS232 module using null-modem gender changer.  Connect the Arduino Nano Connect to the TTL-to-RS232 module as follows:</p>

<center>
<table border=1>
  <tr>
    <th>Arduino</th>
    <th>TTL-to-RS232</th>
  </tr>
  <tr>
    <td>+3v3</td>
    <td>VCC</td>
  </tr>
  <tr>
    <td>GND</td>
    <td>GND</td>
  </tr>
  <tr>
    <td>TX</td>
    <td>RXD</td>
  </tr>
  <tr>
    <td>RX</td>
    <td>TXD</td>
  </tr>
  <tr>
    <td>GND</td>
    <td>CTS</td>
  </tr>
</table>
</center>
