<ul>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/prostar/">Morningstar ProStar Solar Charge Controller</a></li>
	<ul>
		<li>Models: PS-15, PS-15M, PS-30, PS-30M</li>
	</ul>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/pc-meterbus-adapter/">Morningstar PC Meterbus Adapter</a></li>
	<li>1x RS232 Null-Modem Gender Changer M-M</li>
	<li>1x <a target="_blank" href="https://www.amazon.com/gp/product/B07BJJC3R6/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">TTL to RS232 Module</a></li>
	<li>1x <a target="_blank" href="https://docs.arduino.cc/hardware/nano-rp2040-connect/">Arduino Nano rp2040 Connect</a></li>
</ul>
