<ul>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/prostar/">Morningstar ProStar Solar Charge Controller</a></li>
	<ul>
		<li>Models: PS-15, PS-15M, PS-30, PS-30M</li>
	</ul>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/pc-meterbus-adapter/">Morningstar PC Meterbus Adapter</a></li>
	<li>1x RJ11 cable</li>
	<li>1x <a target="_blank" href="https://www.amazon.com/dp/B0759HSLP1?ref=ppx_yo2ov_dt_b_product_details&th=1">RS232 to USB cable</a></li>
	<li>1x <a target="_blank" href="https://www.raspberrypi.com/">Raspberry Pi</a></li>
</ul>
