<div class="flex flex-row items-center justify-evenly" id="{{uniq `timer`}}">

{{ if state.On }}
	<img class="icon" src="/model/{{model}}/images/lightbulb-on.svg">
{{ else }}
	<img class="icon" src="/model/{{model}}/images/lightbulb-off.svg">
{{ end }}

</div>
