<p>Timer device controls a single GPIO pin.  When the timer hit START, the GPIO
is active.  When the timer hits STOP, the GPIO is inactive.</p>

<img class="w-80" src="/model/{{.Model}}/images/nano-rp2040-timer.png"> 
