<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Deploy {{.Model}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/deploy.css">

	</head>

	<body>
		<fieldset>
			<legend>Device Info</legend>
			<textarea id="system" readonly rows="3">
ID:      {{.Id}}
Model:   {{.Model}}
Name:    {{.Name}}</textarea>
		</fieldset>

		<fieldset>
			<legend>Deploy</legend>
			<form id="deploy-form">
				<div class="divFlexCol">
					<div class="divFlexRow">
						<label for="deploy-target">Target:</label>
						<select name="target" id="deploy-target">
{{ range $key, $value := .Targets }}
							<option value="{{ $key }}">{{ $value.FullName }}</option>
{{ end }}
						</select>
					</div>
					<div class="divFlexRow">
						<label for="deploy-demo">Demo Mode:</label>
						<input type="checkbox" name="demo" id="deploy-demo">
					</div>
					<div class="divFlexRow">
						<label for="deploy-http">Run local Web Server:</label>
						<input type="checkbox" name="http" id="deploy-http">
					</div>
					<div class="divFlexRow">
						<label for="deploy-backup">Backup Hub:</label>
						<input type="checkbox" id="deploy-backup">
						<label for="deploy-backup-hub">URL:</label>
						<input type="text" name="backup-hub" id="deploy-backup-hub" disabled>
					</div>
{{template "deploy-body.tmpl" .}}
					<hr>
					<div class="divFlexCol">
						<div class="divFlexRow">
							<p>Download Link:</p>
							<img id="gopher" src="images/gopher-workout.gif" style="display:none" width=30px>
						</div>
						<a id="download-link" href="#"></a>
						<span id="download-error" style="display: none"></span>
					</div>
				</div>
			</form>
		</fieldset>

		<script src="js/common.js"></script>
		<script src="js/deployTargetGpios.js"></script>
		<script src="js/deploy.js"></script>

		<script>stageDeploy("{{.DeployParams}}")</script>
	</body>
</html>
