<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Model}} - {{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">

	</head>

	<body class="divFlexCol">

		<div id="header" class="divFlexRow">
			<div class="divFlexRow">
				<img id="device-icon" src="images/icon.png"></img>
				<span id="title">{{.Name}}</span>
			</div>
		</div>

		<div class="panel divFlexCol">
			<div class="back divFlexRow">
				<a href="javascript:window.history.back()">
					<img class="icon" src="images/back-icon.png">
				</a>
				<span>Info</span>
			</div>

			<table id="info">
				<tr>
					<th>ID</th>
					<td>{{.Id}}</td>
				</tr>
				<tr>
					<th>Model</th>
					<td>{{.Model}}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{.Name}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>

