[Unit]
Description={{.model}}
ConditionPathExists=/usr/local/bin/{{.model}}
After=network.target
 
[Service]
Type=simple
User=root

ExecStart=/usr/local/bin/{{.model}}

Restart=always
RestartSec=2

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{.model}}
 
[Install]
WantedBy=multi-user.target
