<p>Camera device captures and stores camera images.</p>

<div class="relative mb-24">
	<img class="w-80 rounded-lg" src="/model/{{model}}/images/0.jpg">
	<img class="absolute top-24 left-24" src="/model/{{model}}/images/rpi-camera.png">
</div>
