<p>Camera device captures and stores camera images.</p>

<div class="relative mb-16">
	<img class="w-80 rounded-lg" src="/model/{{model}}/images/0.jpg">
	<img class="w-40 absolute top-24 left-24" src="/model/{{model}}/images/rpi-camera.png">
</div>
