<ul>
	<li>1x <a target="_blank" href="https://www.raspberrypi.com/products/">Raspberry Pi</a></li>
        <ul>
		<li>Supported models: 3, 4, 5, Zero 2w</li>
        </ul>
	<li>1x <a target="_blank" href="https://www.raspberrypi.com/documentation/accessories/camera.html">Raspberry Pi Camera</a></li>
</ul>
