<p>Connect the camera to the laptop or PC.</p>

<p>The camera is accessed via /dev/video0.  Verify camera is available at /dev/video0 using:</p>

<pre class="cmd-line">
$ v4l2-ctl --list-devices
USB 2.0 Camera: USB Camera (usb-0000:00:14.0-6.4.3):
        /dev/video0
        /dev/video1
        /dev/media0
</pre>
