					<div class="flex flex-row w-full h-52 justify-center items-center" id="nodef">
						<span class="mx-4">Click</span>
{{ template "button-new.tmpl" . }}
						<span class="mx-4">to create a device</span>
					</div>
