<ul>
	<li>1x <a target="_blank" href="https://docs.arduino.cc/hardware/nano-rp2040-connect/">Arduino Nano rp2040 Connect</a></li>
	<li>1-4x <a target="_blank" href="https://www.amazon.com/Channel-Driver-Optocoupler-Isolated-Control/dp/B09X1P3YHL/ref=asc_df_B09X1P3YHL/?tag=hyprod-20&linkCode=df0&hvadid=647308226090&hvpos=&hvnetw=g&hvrand=256785140318713784&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1027744&hvtargid=pla-1949154110321&psc=1&mcid=3bf8faafb9e83f0f932823b01298b509">3v3 Relays</a></li>
</ul>
