<p>Assemble the relays device using parts list and circuit diagram above.  You can use up to 4 relays.  Make sure the relays are rated for 3.3V input as the Wio Terminal GPIO outputs are 3.3V.</p>

<p>Give the relays a name and a GPIO.  GPIO pin <span class="gpio">D0</span> on the right-side grove port is used in the diagram, as an example with 1 relay.</p>

<div class="warning">
	<span class="warning-icon">&#x26A0;</span>
	The relay loads are not shown.  It's up to you to wire up the loads.  Use caution to not exceed the rated load capacity of the relays, and use extra caution when working with high-voltage or high-current loads.
</div>

