html * {
	font-family: monospace, Courier, "Courier New";
	font-size: 12px;
}

#overlay {
	height:0px;
	overflow:visible;
	pointer-events:none;
	background:none !important;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	font-size: xxx-large;
	color: red;
	transform: translate(-50%,-50%) rotate(-45deg);
}

textarea {
	resize: none;
	border: none;
	width: 100%;
}

.divFlexRow {
	display: flex;
}

.divFlexCol {
	display: flex;
	flex-direction: column;
}

#download-error {
	color: red;
	padding-top: 20px;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
