html * {
	font-family: monospace;
}

#overlay {
	height:0px;
	overflow:visible;
	pointer-events:none;
	background:none !important;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	font-size: xxx-large;
	color: red;
	transform: translate(-50%,-50%) rotate(-45deg);
}

textarea {
	resize: none;
	border: none;
	width: 100%;
}
