<div id="{{uniq `save`}}">
{{ if isDirty }}
	<button class="flex flex-row items-center ml-4 px-3 py-1 rounded bg-blue-500 text-white hover:bg-blue-600"
	{{ if saveToClipboard }}
		hx-get="/save-modal"
		hx-swap="beforeend"
	{{ else }}
		hx-get="/save"
		hx-swap="none"
	{{ end }}
		hx-target="body">
		<img class="w-6 h-6 mr-2" title="Save device changes" src="/images/save.svg"> Save
	</button>
{{ end }}
</div>
