<div id="{{uniq `save`}}">
{{ if isDirty }}
	<button class="flex flex-row items-center ml-4"
	{{ if saveToClipboard }}
		hx-get="/save-modal"
		hx-swap="beforeend"
	{{ else }}
		hx-get="/save"
		hx-swap="none"
	{{ end }}
		hx-target="body">
		<img class="icon" src="/images/save.svg"> Save
	</button>
{{ end }}
</div>
