{{- if not isRoot }}
	{{ if isLocked }}
		<img class="icon" title="Delete device"
			src="/model/{{model}}/images/trash-can.svg"
			onclick="alert('Sorry, cannot delete device: device is locked')">
	{{ else }}
		<img class="icon" title="Delete device"
			src="/model/{{model}}/images/trash-can.svg"
			hx-delete="/destroy?Id={{id}}"
			hx-confirm="Are you sure you want to delete device {{name}}?">
	{{ end }}
{{- end }}
