[Unit]
Description={{.service}}
ConditionPathExists=/usr/local/bin/{{.service}}
After=network.target
PartOf=merliot.target
 
[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/{{.service}}
ExecStart=/usr/local/bin/{{.service}}
EnvironmentFile=/var/lib/{{.service}}/env
Restart=always
RestartSec=2
SyslogIdentifier={{.service}}
 
[Install]
WantedBy=multi-user.target merliot.target
