<style>
	h3 {
	  color: #ffaa00;
	}
</style>

<div class="flex flex-row mx-4 my-8"
	hx-boost="true">
	<div class="flex flex-col">
{{ template "page-tabs.tmpl" . }}
	</div>
	<div class="max-w-lg">
		<div hx-get="/docs/{{.page}}.html"
			hx-trigger="load"
			hx-swap="outerHTML"
			hx-target="this">
		</div>
	</div>
</div>
