[Unit]
Description={{.service}}
ConditionPathExists=/usr/local/bin/{{.service}}
After=network.target
PartOf=merliot.target
 
[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/{{.service}}
Restart=always
RestartSec=2

SyslogIdentifier={{.service}}
 
[Install]
WantedBy=multi-user.target merliot.target
