{{- if .wantsWifi }}

	<div class="flex flex-row mb-5">
		<label>
			WiFi SSID:
			<select name="ssid">
	{{- range $i, $ssid := ssids }}
		{{- if eq $ssid ssid }}
				<option value="{{$ssid}}" selected>{{$ssid}}</option>
		{{- else }}
				<option value="{{$ssid}}">{{$ssid}}</option>
		{{- end }}
	{{- end }}
			</select>
		</label>
	{{- if isMissingWifi  }}
		<span class="mx-5 my-0">&#9888;</span>
		<a class="text-red-500" href="https://merliot.io/doc/env-vars#WIFI_SSIDS">Missing Wifi Settings</a>
	{{- end }}

	</div>

{{- end }}

{{- if .wantsHttpPort }}

	<div class="flex flex-col">
	{{- if not isHttpPortMust }}
		<span>(optional)</span>
	{{- end }}
		<div class="flex flex-row mb-5">
			<label>
				Run Local Web Server on Port:
	{{- if isHttpPortMust }}
				<input class="w-16" type="number" min="1024" max="49151" name="port" value="{{port}}" required>
	{{ else }}
				<input class="w-16" type="number" min="1024" max="49151" name="port" value="{{port}}">
	{{- end }}
			</label>
		</div>
	</div>

{{- end }}

<!-- Device can supply an download.tmpl if there are device-specific settings -->

{{- template "download.tmpl" .}}

<!-- Buttons -->

<div class="flex flex-col mt-8">
	<div class="flex flex-row justify-end">
{{ if eq .selectedTarget "koyeb" }}
		<img class="h-10 my-2.5 mx-1.5"
			src="https://www.koyeb.com/static/images/deploy/button.svg"
			hx-get="/deploy-koyeb/{{id}}/{{.sessionId}}"
			hx-swap="none">
{{ else }}
		<button type="submit">Download</button>
{{ end }}
	</div>

<!-- Error message, if any -->

{{ template "device-download-msg-empty.tmpl" . }}

</div>
