<div class="flex flex-col">

	<div class="flex flex-row justify-center">
		<h3>State</h3>
	</div>

	<pre class="text-sm"
		hx-get="/device/{{id}}/state"
		hx-trigger="load delay:1s"
		hx-target="this"
		hx-swap="innerHTML">
		{{- stateJSON -}}
	</pre>

</div>

