<div class="flex flex-col items-center" id="mcp-instructions">
	<h3 class="cursor-pointer"
		hx-get="/instructions-mcp?view=expanded"
		hx-target="#mcp-instructions"
		hx-swap="outerHTML">
		Instructions &#9660;
	</h3>
</div>
