<div class="modal">

	<style>
		.radio-content {
		  border: 2px solid transparent;
		}

		.radio-container input[type="radio"] {
		  position: absolute;
		  opacity: 0;
		  pointer-events: none;
		}

		/* Highlight the container when the radio button is selected */
		input[type="radio"]:checked + .radio-content {
		  border: 2px solid #007BFF;
		}

		.rounded-4xl {
		  border-radius: 1.75rem;
		}
	</style>

	<div class="modal-content">

		<h3>CREATE A NEW DEVICE</h3>

		<form hx-post="/device/{{id}}/create" hx-target=".modal" hx-swap="delete">

			<div class="flex flex-col mb-5 w-40">
				<label class="font-bold mb-2">Name the Device</label>
				<input type="text" name="Name" placeholder="Name" maxlength="20" required>
			</div>

			<div class="flex flex-col mb-5">
				<label class="font-bold mb-2">Device ID</label>
				<div class="flex flex-row">
					<input disabled type="text" name="Id" placeholder="ID" value="{{.newid}}">
					<input type="hidden" name="Id" value="{{.newid}}">
					<span class="icon">&#x1F512;</span>
				</div>
			</div>

			<div class="flex flex-col mb-5">
				<span class="font-bold mb-2">Select a Model</span>
				<div class="flex flex-col overflow-y-auto">
{{- range $name, $model := .models }}
					<label class="flex flex-row cursor-pointer radio-container">
						<input type="radio" name="Model" value="{{$name}}" required>
						<div class="radio-content p-0.5 border-solid border-2 rounded-4xl">
{{ template "model-collasped.tmpl" . }}
						</div>
					</label>
{{- end }}
				</div>
			</div>

			<div class="flex flex-row justify-between items-center">
				<span class=text-red-500 id="error"></span>
				<div class="flex flex-row justify-end">
					<button class="btn" hx-put="/nop" hx-target=".modal" hx-swap="delete">Close</button>
{{ if isLocked }}
					<button class="btn" onclick="alert('Sorry, cannot create device: hub is locked')">
						Create
					</button>
{{ else }}
					<button class="btn" type="submit">Create</button>
{{ end }}
				</div>
			</div>
		</form>
	</div>
</div>
