<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
	<div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-lg">
		<h3 class="text-xl font-bold mb-4">DOWNLOAD MCP SERVER</h3>
		<p>Download Model Context Protocol (MCP) server for {{name}}.
		The MCP server lets large language models (LLMs), such as
		Claude, interact with {{name}}.  Basically, it means we can
		plug the physical world of devices into an LLM.</p>

		<p>What could go wrong?</p>

		<form action="/download-mcp-server" method="GET" class="mt-4">

			<div class="mt-4">
				<label for="platform" class="block mb-2">SELECT YOUR PLATFORM</label>
				<select class="p-2 border rounded" id="platform" name="platform" required>
					<option value="">-- Select Platform --</option>
{{range .platforms}}
					<option value="{{.Os}}-{{.Arch}}">{{.Desc}}</option>
{{end}}
				</select>
			</div>

			<div class="flex flex-row justify-end mt-8">
				<button class="px-4 py-2 rounded bg-gray-300 hover:bg-gray-400 mr-2" hx-put="/nop" hx-target=".modal" hx-swap="delete">Close</button>
				<button class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600" type="submit">Download</button>
			</div>

		</form>

{{ template "instructions-mcp-collapsed.tmpl" . }}

	</div>

</div>
