<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
	<div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-lg">
		<h3 class="text-xl font-bold mb-4">SAVE DEVICES</h3>
		<p>Devices were loaded from the DEVICES environment variable and changes to the devices must be saved back to DEVICES. Copy the JSON devices content below to your DEVICES environment variable.</p>
		<p>If the hub is running on the cloud, update DEVICES environment variable on the hub service. This way, saved device changes are loaded on next reboot of the hub.</p>
		<pre id="devices" class="overflow-y-auto text-green-600 bg-gray-100 rounded p-4 my-4" style="max-height: calc(60vh - 100px);">
			{{- devicesJSON -}}
		</pre>
		<form action="/devices" method="GET">
			<div class="flex flex-row justify-end mt-8">
				<button class="px-4 py-2 rounded bg-gray-300 hover:bg-gray-400 mr-2" hx-put="/nop" hx-target=".modal" hx-swap="delete">Close</button>
				<button class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 mr-2" type="button" onclick="copy2clipboard()">Copy to Clipboard</button>
				<button class="px-4 py-2 rounded bg-green-500 text-white hover:bg-green-600" type="submit">Save to File</button>
			</div>
		</form>
	</div>
	<script>
		function copy2clipboard() {
			if (navigator.clipboard) {
				const content = document.getElementById('devices').innerText;
				navigator.clipboard.writeText(content);
			} else {
				alert("Browser blocking clipboard API access...insecure http:// connection?")
			}
		}
	</script>
</div>
