<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
	<div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-lg">
		<h3 class="text-xl font-bold mb-4">CREATE A NEW DEVICE</h3>
		<form hx-post="/create" hx-target=".modal" hx-swap="delete">
			<input type="hidden" name="ParentId" value="{{id}}">
			<div class="flex flex-col mb-5 w-40">
				<label class="font-bold mb-2">Name the Device</label>
				<input type="text" name="Child.Name" placeholder="Name" maxlength="20" required>
			</div>
			<div class="flex flex-col mb-5">
				<label class="font-bold mb-2">Device ID</label>
				<div class="flex flex-row">
					<input disabled type="text" placeholder="ID" value="{{.newid}}">
					<input type="hidden" name="Child.Id" value="{{.newid}}">
					<span class="w-6 h-6 mx-1">&#x1F512;</span>
				</div>
			</div>
			<div class="flex flex-col mb-5">
				<span class="font-bold mb-2">Select a Model</span>
				<div class="flex flex-col overflow-y-auto">
{{- range $name, $model := .models }}
					<label class="flex flex-row cursor-pointer radio-container">
						<input type="radio" name="Child.Model" value="{{$name}}" required>
						<div class="radio-content p-0.5 border-solid border-2 rounded-2xl">
{{ template "model-collapsed.tmpl" . }}
						</div>
					</label>
{{- end }}
				</div>
			</div>
			<div class="flex flex-row justify-between items-center">
				<span class="text-red-500" id="error"></span>
				<div class="flex flex-row justify-end">
					<button class="px-4 py-2 rounded bg-gray-300 hover:bg-gray-400 mr-2" hx-put="/nop" hx-target=".modal" hx-swap="delete">Close</button>
{{ if isLocked }}
					<button class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600" type="button" onclick="alert('Sorry, cannot create device: hub is locked')">
						Create
					</button>
{{ else }}
					<button class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600" type="submit">Create</button>
{{ end }}
				</div>
			</div>
		</form>
	</div>
</div>
