<header class="flex flex-col mx-4 my-8 max-w-2xl">
	<div class="flex flex-row justify-between">
		<a class="no-underline" href="/">
			<div class="flex flex-col">
				<span class="mr-8 text text-4xl" >MERLIOT</span>
				<span class="text">DEVICE HUB</span>
			</div>
		</a>
		<div class="flex flex-row">
{{ $first := true }}
{{ range .tabs }}
	{{ if $first }}
			<div class="flex flex-row items-end justify-end m-0.5 w-28 h-10
				bg-gold border-gold text-black
				border-solid border-2 rounded-2xl">
				<span class="mr-2.5 font-bold">{{.Name}}</span>
			</div>
		{{ $first = false }}
	{{ else }}
			<a class="no-underline" href={{.Href}}>
				<div class="flex flex-row items-end justify-end m-0.5 w-20 h-5
					bg-text border-text text-black
					border-solid border-2 rounded-xl">
					<span class="mr-2.5 text-sm">{{.Name}}</span>
				</div>
			</a>
	{{ end }}
{{ end }}
		</div>
	</div>
</header>
