<div class="flex flex-row mx-4 my-8">
	<div class="flex flex-col">
{{ template "page-tabs.tmpl" . }}
{{ template "site-demo-grug.tmpl" . }}
	</div>
{{ if eq .page "devices" }}
	<div class="mt-4">
		{{ template "session.tmpl" . }}
	</div>
{{ else }}
	<div class="max-w-lg">
		<div hx-get="/docs/{{.page}}.html"
			hx-trigger="load"
			hx-swap="outerHTML"
			hx-target="this">
		</div>
	</div>
{{ end }}
</div>
