<div class="mt-8 mr-8 w-36 text-sm">
	<p class="italic">"working demo especially good trick: force big brain make something to actually work to talk about and code to look at that do thing, will help big brain see reality on ground more quickly"</p>
	<a class="no-underline" target="_blank" href="https://grugbrain.dev/"><p class="text-right text">-- The Grug Brained Developer</p></a>
</div>

