<p>Gadget device is an example device.  It doesn't do anything pratical, but it is useful for testing and to illustrate some of the device concepts.</p>

<img src="/model/{{.Model}}/images/gadget.svg">
