<p class="w-80">Gadget device is is an example device.  It doesn't do anything pratical, but it is useful for testing and to illustrate most of the device concepts a typical device would use.</p>

<img class="w-80" src="/model/{{.Model}}/images/gadget.svg">
