<div class="flex flex-col m-4" id="{{uniq `secret`}}">
	<h4>SECRET</h4>
{{ if isOnline }}
	<p>{{state.Secret}}</p>
{{ else }}
	<div class="flex flex-row justify-center">
		<p>[ OFFLINE -- SECRET HIDDEN ]</p>
	</div>
{{ end }}
</div>
