<div class="flex flex-col mb-5">
	<label for="secret">Secret:</label>
{{ if isOnline }}
	<textarea name="Secret" rows="5" cols="50" placeholder="<enter your secret>">{{state.Secret}}</textarea>
{{ else }}
	<textarea name="Secret" rows="5" cols="50" placeholder="[OFFLINE -- SECRET HIDDEN]"></textarea>
{{ end }}
</div>
