<p>All you need is an Arduino rp2040.  The secret is stored in FLASH on the
Arduino, until erased.  It doesn't need power to retain the secret.  The
Arduino will dial into the hub and you can view the secret on the hub.</p>
