<p>All you need is a PyPortal.  The secret is stored in FLASH on the PyPortal,
until erased.  It doesn't need power to retain the secret.  The PyPortal
will dial into the hub and you can view the secret on the hub.</p>
