<p>All you need is a Laptop (or other x86-64 system).  The secret is stored
on disk on the Laptop, until erased.  It doesn't need power to retain the secret.
The Laptop will dial into the hub and you can view the secret on the hub.</p>

<p>It's recommended to not enable the local web server on the device, unless
you want to be able to connect to the device locally and see the secret.</p>
