		<fieldset>
			<legend>Sign</legend>
			<div class="divFlexCol" id="input">
				<textarea id="banner" style="display: none;"></textarea>
				<div class="buttons">
					<button id="clear">Clear</button>
					<button id="save">Save</button>
				</div>
			</div>
		</fieldset>
