#all {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#header {
	display: flex;
	justify-content: space-between;
}

#bod {
	display: flex;
	height: 100%;
}

#explorer {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 300px;
}

#view {
	width: 100%;
}

#deploy-btns {
	display: flex;
}

#create-inputs {
	display: flex;
	flex-direction: column;
}

#create-btns {
	display: flex;
}

object {
	height: 100%;
	width: 100%;
}
