body {
	margin: 0px;
}

#all {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#header {
	display: flex;
	justify-content: space-between;
	background: lightgrey;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#bod {
	display: flex;
	height: 100%;
}

#explorer {
	display: flex;
	flex-direction: column;
	width: 20%;
	max-width: 300px;
	background: lightgrey;
	padding-left: 10px;
}

#view {
	width: 100%;
}

#deploy-link {
	max-width: 300px;
}

#create-err {
	color: red;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.divFlexRow {
	display: flex;
}

.divFlexCol {
	display: flex;
	flex-direction: column;
}

.btnsRow {
	display: flex;
}

.devBtn {
	padding: 10px;
	border-radius: 15px 0px 0px 15px;
	font-weight: bold;
}

object {
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
