<div class="flex flex-row items-center justify-evenly" id="{{uniq `temp-hum`}}">
	<div class="flex flex-row mr-2.5">
		<span class="text-3xl">{{tempf}}</span>
		<span>&deg;{{state.TempUnits}}</span>
	</div>
	<div class="flex flex-row mr-2.5">
		<span class="text-3xl">{{humf}}</span>
		<span>%</span>
	</div>
</div>
