<div class="flex flex-col" id="{{uniq `temp-hum`}}">
	<div class="flex flex-row w-full items-center justify-evenly">
		<div class="flex flex-col">
			<span>Temperature</span>
			<div class="flex flex-row mr-4">
				<span class="text-6xl">{{tempf}}</span>
				<span>&deg;{{state.TempUnits}}</span>
			</div>
		</div>
		<div class="flex flex-col">
			<span>Humidity</span>
			<div class="flex flex-row mr-4">
				<span class="text-6xl">{{humf}}</span>
				<span>%</span>
			</div>
		</div>
	</div>
	<svg viewBox="0 0 400 300">

		<line x1="50" y1="50" x2="50" y2="250" style="stroke:blue;stroke-width:2"/>
		<line x1="50" y1="250" x2="350" y2="250" style="stroke:blue;stroke-width:2"/>
		<line x1="350" y1="250" x2="350" y2="50" style="stroke:blue;stroke-width:2"/>

		<polyline fill="none" stroke="red" stroke-width="3"
			points="{{points "temp" 50 50 300 200}}"/>
	</svg>
</div>
