<div class="flex flex-row mb-5">
	<span class="mr-4">Sensor</span>
	<label class="mr-2.5">
{{ if or (eq state.Sensor "BME280") (eq state.Sensor "") }}
		<input type="radio" name="Sensor" value="BME280" checked>
{{ else }}
		<input type="radio" name="Sensor" value="BME280">
{{ end }}
		BME280
	</label>
</div>

<div class="flex flex-row mb-5">
	<span class="mr-4">Temperature Units</span>
	<label class="mr-2.5">
{{ if or (eq state.TempUnits "F") (eq state.TempUnits "") }}
		<input type="radio" name="TempUnits" value="F" checked>
{{ else }}
		<input type="radio" name="TempUnits" value="F">
{{ end }}
		F&deg;
	</label>

	<label class="mr-2.5">
{{ if eq state.TempUnits "C" }}
		<input type="radio" name="TempUnits" value="C" checked>
{{ else }}
		<input type="radio" name="TempUnits" value="C">
{{ end }}
		C&deg;
	</label>
</div>
