<h5>BME280</h5>

<p>Connect the BME280 sensor as follows:</p>

<pre>
BME280	Arduino Nano Connect
------  --------------------
Vcc	+3.3v
Gnd	Gnd
SCL	D19 (GPIO13, I2C0_SCL_PIN)
SDA	D18 (GPIO12, I2C0_SDA_PIN)
</pre>
