<ul>
	<li>1x <a target="_blank" href="https://docs.arduino.cc/hardware/nano-rp2040-connect/">Arduino Nano rp2040 Connect</a></li>
	<li>1x <a target="_blank" href="https://www.google.com/search?q=dht22">DHT11 or DHT22 temperature/humidity sensor</a></li>
	- or -
	<li>1x <a target="_blank" href="https://www.google.com/search?q=bme280">BME280 temperature/humidity sensor</a></li>
</ul>
