<p>Assemble the temp device using parts list and circuit diagram above.</p>

<p>Select the sensor type (DHT11 or DHT22) and select the GPIO for the sensor.  GPIO pin <span class="gpio">D2</span> is used in the diagram, as an example, and is wired to the DHT11/DHT22 output.</p>
