				<div id="divFlexRow">
					<label for="deploy-target">Target:</label>
					<select name="deploy-target" id="deploy-target">
						<option value="x86_64">Linux x86_64</option>
						<option value="rpi">Raspberry Pi</option>
						<option value="nano_rp2040">Arduino Nano RP2040 Connect</option>
					</select>
				</div>
