<hr>
<div id="relaysList" class="divFlexCol">
	<div class="divFlexRow">
		<label class="relayLabel">Relay #1</label>
		<input type="text" placeholder="Name" name="relay1">
		<select class="gpio" name="gpio1">
			<!-- Options populated via JS -->
		</select>
	</div>
	<div class="divFlexRow">
		<label class="relayLabel">Relay #2</label>
		<input type="text" placeholder="Name" name="relay2">
		<select class="gpio" name="gpio2">
			<!-- Options populated via JS -->
		</select>
	</div>
	<div class="divFlexRow">
		<label class="relayLabel">Relay #3</label>
		<input type="text" placeholder="Name" name="relay3">
		<select class="gpio" name="gpio1">
			<!-- Options populated via JS -->
		</select>
	</div>
	<div class="divFlexRow">
		<label class="relayLabel">Relay #4</label>
		<input type="text" placeholder="Name" name="relay4">
		<select class="gpio" name="gpio1">
			<!-- Options populated via JS -->
		</select>
	</div>
</div>
