<hr>
<div class="divFlexRow">
	<div class="divFlexCol">
		<span>Relay Name</span>
		<input class="relayName" type="text" placeholder="Relay #1" name="relay1">
		<input class="relayName" type="text" placeholder="Relay #2" name="relay2">
		<input class="relayName" type="text" placeholder="Relay #3" name="relay3">
		<input class="relayName" type="text" placeholder="Relay #4" name="relay4">
	</div>
	<div class="divFlexCol">
		<span>GPIO Pin</span>
		<select class="gpioPin" name="gpio1"></select>
		<select class="gpioPin" name="gpio2"></select>
		<select class="gpioPin" name="gpio3"></select>
		<select class="gpioPin" name="gpio4"></select>
	</div>
</div>
