		<div class="panel divFlexRow relays">
			<div class="divFlexCol relay-unused" id="relay0">
				<img class="relay-img" id="relay0-img" src="images/relay-unused.png" disabled>
				<span class="gpio-unused" id="gpio0"></span>
				<span class="relay-name-unused" id="relay0-name"></span>
			</div>
			<div class="divFlexCol relay-unused" id="relay1">
				<img class="relay-img" id="relay1-img" src="images/relay-unused.png" disabled>
				<span class="gpio-unused" id="gpio1"></span>
				<span class="relay-name-unused" id="relay1-name"></span>
			</div>
			<div class="divFlexCol relay-unused" id="relay2">
				<img class="relay-img" id="relay2-img" src="images/relay-unused.png" disabled>
				<span class="gpio-unused" id="gpio2"></span>
				<span class="relay-name-unused" id="relay2-name"></span>
			</div>
			<div class="divFlexCol relay-unused" id="relay3">
				<img class="relay-img" id="relay3-img" src="images/relay-unused.png" disabled>
				<span class="gpio-unused" id="gpio3"></span>
				<span class="relay-name-unused" id="relay3-name"></span>
			</div>
		</div>
