		<fieldset style="height: 64px">
			<legend>Relays</legend>
			<div class="divFlexRow relays">
				<div class="divFlexCol relay" id="relay1" style="display: none">
					<img class="relay-img" id="relay1-img" src="images/relay-off.png">
					<span class="relay-name" id="relay1-name"></span>
				</div>
				<div class="divFlexCol relay" id="relay2" style="display: none">
					<img class="relay-img" id="relay2-img" src="images/relay-off.png">
					<span class="relay-name" id="relay2-name"></span>
				</div>
				<div class="divFlexCol relay" id="relay3" style="display: none">
					<img class="relay-img" id="relay3-img" src="images/relay-off.png">
					<span class="relay-name" id="relay3-name"></span>
				</div>
				<div class="divFlexCol relay" id="relay4" style="display: none">
					<img class="relay-img" id="relay4-img" src="images/relay-off.png">
					<span class="relay-name" id="relay4-name"></span>
				</div>
			</div>
		</fieldset>
