		<fieldset>
			<legend>Relays</legend>
			<div id="buttons">
				<input type="checkbox" id="relay1" disabled style="display: none;" onclick='sendClick(this, 1)'>
				<label for="relay1"></label>
				<input type="checkbox" id="relay2" disabled style="display: none;" onclick='sendClick(this, 2)'>
				<label for="relay2"></label>
				<input type="checkbox" id="relay3" disabled style="display: none;" onclick='sendClick(this, 3)'>
				<label for="relay3"></label>
				<input type="checkbox" id="relay4" disabled style="display: none;" onclick='sendClick(this, 4)'>
				<label for="relay4"></label>
			</div>
		</fieldset>
