	if "{{.relay1}}" != "" {
		thing.SetRelay(0, "{{.relay1}}", "{{.gpio1}}")
	}
	if "{{.relay2}}" != "" {
		thing.SetRelay(1, "{{.relay2}}", "{{.gpio2}}")
	}
	if "{{.relay3}}" != "" {
		thing.SetRelay(2, "{{.relay3}}", "{{.gpio3}}")
	}
	if "{{.relay4}}" != "" {
		thing.SetRelay(3, "{{.relay4}}", "{{.gpio4}}")
	}
