<div class="flex flex-col items-center">
	<div class="w-full h-52 rounded-2xl overflow-hidden" id="{{uniq `map`}}"></div>

	<script>
		loadCSS("https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css");

		loadScript("https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.js", function() {

			// Initialize map after maplibre script is loaded dynamically

			var div = document.getElementById("{{uniq `map`}}");
			div.sharedData = {};
			div.sharedData.map = new maplibregl.Map({
				container: "{{uniq `map`}}",
				style: {
					"version": 8,
					"sources": {
						"osm": {
							"type": "raster",
							"tiles": [
								"https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
								"https://b.tile.openstreetmap.org/{z}/{x}/{y}.png",
								"https://c.tile.openstreetmap.org/{z}/{x}/{y}.png"
							],
							"tileSize": 256,
							"attribution": "© OpenStreetMap contributors"
						}
					},
					"layers": [
						{
							"id": "osm-tiles",
							"type": "raster",
							"source": "osm",
							"minzoom": 0,
							"maxzoom": 19
						}
					]
				},
				center: [{{state.Long}}, {{state.Lat}}],
				zoom: 8
			});
			div.sharedData.marker = new maplibregl.Marker()
				.setLngLat([{{state.Long}}, {{state.Lat}}])
				.addTo(div.sharedData.map);
		});
	</script>
{{ template "update-detail.tmpl" . }}
</div>
