<p>GPS locator device uses a GPS module (Air530) to find and display its
position.</p>

<div class="relative mb-24">
	<img class="w-80 rounded-lg" src="/model/{{model}}/images/dallas.png">
	<img class="absolute top-24 left-0" src="/model/{{model}}/images/air530.png">
</div>
