<p>GPS locator device.</p>

<div class="w-fit relative mb-24">
	<img class="rounded-lg" src="/model/{{.Model}}/images/dallas.png">
	<img class="absolute top-36 left-0" src="/model/{{.Model}}/images/air530.png">
</div>
