<ul>
	<li>1x <a target="_blank" href="https://www.raspberrypi.com/products/">Raspberry Pi</a></li>
        <ul>
		<li>Supported models: 3, 4, 5</li>
        </ul>
	<li>1x <a target="_blank" href="https://www.seeedstudio.com/Grove-GPS-Air530-p-4584.html?srsltid=AfmBOorbSJDAb_twVdlNpz-feWYd_qII6kt1U8tndNduHOuiuTE2w8x8">Grove - GPS (Air530)</a></li>
	<li>1x <a target="_blank" href="https://www.amazon.com/gp/product/B07WX2DSVB/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">USB to TTL Converter</a></li>
</ul>
