<ul>
	<li>1x <a target="_blank" href="https://docs.arduino.cc/hardware/nano-rp2040-connect/">Arduino Nano rp2040 Connect</a></li>
	<li>1x <a target="_blank" href="https://www.seeedstudio.com/Grove-GPS-Air530-p-4584.html?srsltid=AfmBOorbSJDAb_twVdlNpz-feWYd_qII6kt1U8tndNduHOuiuTE2w8x8">Grove - GPS (Air530)</a></li>
</ul>
