<div class="flex flex-row">
	<div class="flex flex-col">
		<span>Relay Name</span>
{{- range $i, $relay := state.Relays }}
	<input class="h-5 mr-2.5 w-36" type="text" placeholder="Relay #{{$i}}" name="Relays[{{$i}}].Name" value="{{$relay.Name}}">
{{- end }}
	</div>
	<div class="flex flex-col">
		<span>GPIO</span>
{{- range $i, $relay := state.Relays }}
		<select class="h-5" name="Relays[{{$i}}].Gpio">
			<option value="">Select GPIO</option>
	{{- range $key, $target := targets }}
		{{- if eq $key $.selectedTarget }}
			{{- range $gpio, $pin := $target.GpioPins }}
				{{- if eq $gpio $relay.Gpio }}
			<option selected value="{{$gpio}}">{{$gpio}}</option>
				{{- else }}
			<option value="{{$gpio}}">{{$gpio}}</option>
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
		</select>
{{- end }}
	</div>
</div>
