<p>Assemble the buttons device using parts list and circuit diagram above. You can use up to 4 buttons. Connect each button between a GPIO pin and ground, with a 10kΩ pull-up resistor to 3.3V.</p>

<p>Give the buttons a name and a GPIO. GPIO pins <span class="gpio">D2-D5</span> are used in the diagram, as an example with 4 buttons.</p> 