<p>Assemble the buttons device using parts list and circuit diagram above. You
can use up to 4 switches. Connect each switch between a GPIO pin and ground.
(A pull-up resistor is not needed as the GPIO pin is internally pulled-up).</p>

<p>Give the buttons a name and a GPIO. GPIO pins GPIO06, GPIO13, GPIO19, and
GPIO26 are used in the diagram, as an example with 4 switches.</p> 
