<p>Assemble the buttons device using parts list and circuit diagram above. You
can use up to 4 switches.  Connect each switch between a GPIO pin and ground.
(A pull-up resistor is not needed as the GPIO pin is internally pulled-up).</p>

<p>Give the buttons a name and a GPIO. GPIO pins <span class="gpio">D2-D5</span>
are used in the diagram, as an example of 4 switches.</p> 
